@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: linear-gradient(#023047,#219ebc, #8ecae6);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



#menu{
    background-color:#14213d;
    font-weight: 500;
    font-size: 20px;
    padding:15px 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';

}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}
.menu a:hover{
    color: #023047;
    background-color: #fb8500;
    padding: 0 5px;
    border-radius: 3px;
    transition: 0.3s;

   
}

.menu a.active{
    background-color: #fb8500;
    border-radius: 3px;
    padding: 0 5px;
}

#intro{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    min-height: 56vh;
}

.intro__nome{
    color: white;
    letter-spacing: .1rem;
    font-family: "Poppins";
    font-size: 60px;
    padding-top: 7rem ;
    font-weight: 500;
}

.intro__descricao{
    padding-top: 10px;
    color: #ffb703;
    font-family: "Poppins";
    font-size: 22px;
    padding: 10px 0;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.sobre__titulo{
    color: white;
    letter-spacing: .1rem;
    font-family: "Poppins";
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
    font-weight: 500;
}

.sobre__contexto{
    width: 80%;
}

.sobre__comeco{
    padding-top: 10px;
    color: #ffb703;
    font-family: "Poppins";
    font-size: 22px;
    margin-top: 10px;
}

.sobre__txt{
    padding-top: 10px;
    color:#fff;
    font-family: "Poppins";
    font-size: 22px;
    margin-top: 10px;
    padding-bottom: 30px;
}

#habilidades{
    min-height: 100vh;
}

.habilidade__titulo{
    color: white;
    letter-spacing: .1rem;
    font-family: "Poppins";
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}

.habilidade{
    height: 100vh;
    color: white;
    font-family: "Poppins";
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.habilidade__all{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 30px;

}

.img__habilidades{
    width:10%;
}

.img__habilidades:hover{
    width: 10%;
    transform: translateY(-10px);
    transition: 0.7s;
}

#habilidades__idioma{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

#educacao{
    min-height: 100vh;
}

.educacao__titulo{
    color: white;
    letter-spacing: .1rem;
    font-family: "Poppins";
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    padding: 30px 0;
    font-weight: 500;
}

.educacao__grupo{
    letter-spacing: .1em;
    padding: 20px 0;
    color: #ffb703;
    text-align: center;
    font-family: "Poppins";
    font-size: 30px;
}

.educacao__ano{
    letter-spacing: .1em;
    font-weight: 200;
    font-family: "Poppins";
    text-align: center;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
}

.educacao__curso{
    letter-spacing: .1em;
    font-family: "Poppins";
    text-align: center;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
    
}

.educacao__ensino{
    letter-spacing: .1em;
    font-family: "Poppins";
    text-align: center;
    padding-bottom: 30px;
    color: white;
    font-size: 20px
}

#contato{
    min-height: 70vh;
    text-align: center;
}

.contato__email{
    font-size: 1.8rem;
    text-decoration: none;
    color: #ffb703;
}

.contato__email:hover{
    font-size: 1.8rem;
    text-decoration: none;
    color: #fb8500;
    transition: 0.3s;
}

.contato__email2{
    text-align: center;
    padding: 30px 0;
    color: #ffb703;
}

.redes__sociais{
    min-height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: inherit;
    align-items: flex-start;
    padding-bottom: 30px;
    }

.img__contato{
    width: 4rem;
    
}

.final{
    color: white;
    font-family: "Poppins";
    letter-spacing: .1em;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: end;
}

/*tablet*/

@media screen and (max-width: 768px){
    #menu{
        font-size: 25px;
    }
    
    #intro {
        min-height: 62vh;
    }

    .intro__nome{
        font-size: 80px;
    }

    .intro__descricao{
        font-size: 34px;
        text-align: center;
    }

    .sobre__titulo{
        font-size: 70px;
        text-align: center;
    }

    .sobre__comeco{
        font-size: 38px;
    }

    .sobre__txt{
        font-size: 40px;
    }

    #habilidades{
        min-height: 47vh;
    }

    #educacao{
        min-height: 45vh;
    }

    #contato{
        min-height:42vh;
    }
}

/*mobile plus*/

@media screen and (max-width: 425px){
    #menu{
        font-size: 1rem;
    }
    
    .intro__nome{
        color: white;
        letter-spacing: .1rem;
        font-family: "Poppins";
        font-size: 2.7rem;
    }

    .intro__descricao{
        color:#FF6347;
        font-family: "Poppins";
        font-size: 1.7rem;
        text-align: center;
    }

    .sobre__titulo{
        font-size: 3.5rem;
    }

    .sobre__comeco {
        font-size: 1.8rem;
    }

    .sobre__txt {
        font-size: 1.8rem;
    }

    .habilidade__titulo{
        font-size: 3rem;
    }

    #habilidades{
        min-height: 60vh;
    }

    #habilidades__idioma {
        font-size: 2rem;
    }

    .educacao__titulo {
        font-size: 3.5rem;
    }   

    .educacao__grupo {
        font-size: 1.8rem;
        padding: 20px 20px;
    }

    .educacao__ano {
        font-size: 1.7rem;
    }

    .educacao__curso {
        font-size: 1.5rem;
    }

    .educacao__ensino{
        font-size: 1.5rem;
    }

    .contato__txt{
        font-size: 3rem;
    }

    .contato__email {
        color: white;
        font-size: 1.6rem;
        padding: 30px 18px;
    }

    .contato__email2 {
        font-size: 2.3rem;
    }

    .redes__sociais {
        padding: 30px 0;
        align-items: center;
    }

}

    /*iphone*/

@media screen and (max-width: 375px){
    #menu{
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }

    #intro{
        min-height: 0;
    }
    
    .intro__nome{
        font-size: 2rem;
        text-align: center;
    }

    .intro__descricao{
        color:#FF6347;
        font-family: "Poppins";
        font-size: 1.6rem;
        text-align: center;
    }

    #sobre{
        min-height: 0;
    }

    .sobre__titulo{
        font-size: 1.5rem;
        text-align: center;
    }

    .sobre__comeco{
        font-size: 1.3rem;
    }

    .sobre__txt {
        font-size: 1rem;
    }

    #habilidades{
        display: flex;
        flex-direction: column;
    }

    .img__habilidades{
        width: 4rem;
        height: 4rem;
    }

    .img__habilidades:hover{
        width: 4rem;
        height: 4rem;
        transform: translateY(-20px);
        transition: 0.4s;

    }
    .habilidade__all{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .habilidade__titulo{
        font-size: 1.3rem;
    }

    #habilidades__idioma{
        font-size: 1rem;

    }

    .educacao__titulo{
        font-size: 1.3rem;

    }

    .educacao__grupo{
        font-size: 1.1rem;
    }

    .educacao__ano, .educacao__curso, .educacao__ensino{
        font-size: 0.9rem;
    }

    #contato{
        text-align: center;
        min-height: 0;
    }

    .contato__email {
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
        color: #ffb703;
        min-height: 0;
    }

    .contato__email:hover{
        cursor: pointer;
        color: whitesmoke;
        transition: 0.5s;
    }

    .redes__sociais {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .redes__sociais:hover{
        cursor: pointer;
        transform: translateY(-20px);
        transition: 0.5s;
    }

    .final {
        padding: 1rem 0;
        text-align: center;
        font-weight: 100;
    }
}
